In [1]:
import pandas as pd

In [5]:
df = pd.read_table('output/default/tmp_labels.txt', sep = ' ',header = None, names=['id', 'transcription'], dtype={'id': object})
df.head()

         id transcription
0  00000000    sylwetkowy
1  00005000     kantowaty
2  00000001    saletrować
3  00005001    zarysowany
4  00000002        masowy

In [20]:
def capitalize(word):
    return word[0].upper() + word[1:]
df[0] = [capitalize(i) for i in df[0]]

In [21]:
df.to_csv(r'data/corpus/pjs1.txt', header=None, index=None, sep=' ', mode='a')
df1 = pd.read_table('data/corpus/pjs1.txt', sep = ' ',header = None)
df1.head()

                0
0             Aby
1              By
2              Co
3           Chyba
4             Czy
...           ...
14905   Żywicować
14906     Żyłować
14907   Żłobkować
14908  Ćwiartować
14909   Ćwiekować

[14910 rows x 1 columns]

In [24]:
import os

In [25]:
len(os.listdir('output/default1'))

40002